<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Legal</string>
	<key>StringsTable</key>
	<string>Appearance</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Group Items</string>
			<key>Key</key>
			<string>useGroupingForItems</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Group Numbers</string>
			<key>Key</key>
			<string>groupNumbers</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Courier for items</string>
			<key>Key</key>
			<string>useFixedWidth</string>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Defined fixed widths</string>
			<key>Key</key>
			<string>definedFixedWidths</string>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>No word separator</string>
			<key>Key</key>
			<string>blankWordSeparator</string>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Simple mode</string>
			<key>Key</key>
			<string>simpleMode</string>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
